<div class="navbar">
    <div class="navbar__logo">
        <img src="${properties.logo}" alt="logo">
    </div>

    <sly data-sly-list.navbarOptions = "${resource.listChildren}">
        <sly data-sly-list.option = "${navbarOptions.listChildren}">
            <div class="navbar__links">
                <a class="navbar__links__item" href="${option.navitemlink}">${option.navitemtext}</a>
            </div>
        </sly>
    </sly>



    <div class="navbar__icon">
        <img class="navbar__icon__image" src="${properties.search}" alt="search icon">
    </div>
</div>