<div class="navbar">
    <div class="navbar__logo">
        <img src="${properties.logo}" alt="logo">
    </div>
<div class="navbar__links">
    <sly data-sly-repeat.navbarOptions = "${resource.listChildren}">
        <sly data-sly-repeat.option = "${navbarOptions.listChildren}">
                <a class="navbar__links__item" href="https://bingosnacks.com/bingo-comedy-adda.html">${option.navlink}</a>
        </sly>
    </sly>
</div>



    <div class="navbar__icon">
        <img class="navbar__icon__image" src="./assets/search.svg" alt="search icon">
    </div>
</div>